html{
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  color: white;
  text-align: center;
}

.headerbanner{
  background-image: url(/Users/Valerie/broadway-design/resources/images/the-flatiron-building.png);
  text-align: center;
}

h2, h3{
  font-size: 23px;
  text-align: center;
}

img{
  display: block;
  margin: auto;
}

.design{
  background-image: url(/Users/Valerie/broadway-design/resources/images/the-flatiron-building.png);
  color: white;
  text-align: center;
}

h4, nav{
  font-size: 18px;
  color: white;
  text-align: center;
}

.about{
  font-size: 14px;
  text-align: center;
}

.footer{
  font-size: 11px
  text-align:left;
  background-color: dimgray;
  color: white;
}

.btn-nav {
    font-size: 18px;
    color: white;
}
